:root {
  --black-100: #1C1C1C;
  --black-40: rgba(0, 0, 0, 0.40);
  --black-20: rgba(0, 0, 0, 0.20);
  --black-5: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.10);
  --Primary-Blue: #E3F5FF;
  --Primary-Purple: #E5ECF6;
  --Primary-Light: #F7F9FB;
  --Secondary-Blue:#A8C5DA;
  --Secondary-Purple:#C6C7F8;
  --Secondary-Green:#BAEDBD;
  --Secondary-BlueB:#B1E3FF;
  --Secondary-PurpleA:#95A4FC;
}

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
}
img{
    max-width: 100%;
}
.container{
    width: 95%;
    max-width: 375px;
    margin: 0 auto;
    padding: 1.5em;
}
.nav{
    text-align: center;
}
.navbar{
    list-style: none;
}
.navbar li{
    margin-top: 1em;
}
.navbar li a{
    font-size: 0.875rem;
    text-decoration: none;
    color:var(--black-100);
}
.navbar input{
    width: 60%;
    border-radius: 8px;
    border: none;
    background: var(--black-5);
    padding: 0.25em 1.5em;
    outline: none;

}
.navbar input ::placeholder{
color: var(--black-20);
font-size: 0.875rem;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.search-container {
      position: relative;
    }
.search-icon {
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      cursor: pointer;
    }
.active{
    color: var(--black-40);
}
.flex{
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-menu p{
color: var(--black-40);
font-size: 0.875rem;
line-height: 20px;
}
.dropdown-menu ul li{
    margin: .5em;
}
.dropdown-menu ul li::marker{
    color: var(--black-20);
}
.dropdown-menu p:last-child{
    color: var(--black-20);
}
.dropdown-menu a, .dropdown-menu ul li{
color: var(--black-100);
font-size: 0.875em;
line-height: 20px;
text-decoration: none;
}
.dropdown-menu h1{
color: var(--black-40);
font-size: 0.875rem;
line-height: 20px;
}
.dropdown-menu ul, .dropdown-content{
    margin-bottom: 1.5em;
}
.dropdown-content a{
    display: flex;
    align-items: center;
    gap: .5em;
}
.dropdown-content a::before{
    content: url('./images/ArrowLineRight2.svg');
    margin-right: .1em;
}
.pages-sub-dropdown{
    display: flex;
    flex-direction: column;
    margin-left: 3.4em;
}
.pages-sub-dropdown a{
    margin: .3em 0;
}
.pages-sub-dropdown a::before{
    content: none;
}
.pages-sub-dropdown a:nth-child(2){
border-radius: 8px;
background: var(--black-5);
display: flex;
justify-content: center;
padding: .4em 0;
}
.center > h2::after{
    content: url('./images/ArrowLineDown2.svg');
}
.center>h2{
color: var(--black-100);
font-size: .875rem;
font-weight: 600;
line-height: 20px;
margin-top: 1.5em;
display: flex;
}
.sub-grid{
border-radius: 16px;
margin-top: 1em;
padding: 1.5em;
}
.sub-grid-1{
    background-color: var(--Primary-Blue);
}
.sub-grid-2{
    background-color: var(--Primary-Purple);
}
.sub-grid h4 , .sub-grid h2{
color: var(--black-100);
font-weight: 600;
line-height: 20px;
}
.sub-grid h4{
font-size: 0.875rem;
margin-bottom: 1em;
}
.sub-grid h2{
    font-size: 1.5rem;
}
.justify{
    justify-content: space-between;
}
/* .justify-center{
    justify-content: center;
} */
.no-gap{
    gap: .2em;
}
.chart{
border-radius: 16px;
background: var(--Primary-Light);
padding: 1.5em;
margin-top: 1.5em;

position: relative;
}
.chart-headings p:first-child{
    font-weight: 600;
}
.chart-headings{
color: var(--black-100);
font-size: 0.55rem;
font-weight: 400;
line-height: 20px;
}
.chart-headings p:not(:first-child){
    color: var(--black-40);
}
.chart-headings li:nth-child(2)::marker{
    color: var(--Secondary-Blue);
}
.chart-headings li:last-child{
list-style: none;
}
.y-axis-labels,.x-axis-labels{
    display: flex;
}
.y-axis-labels p,.x-axis-labels p{
  color: var(--black-40);
  font-size: 0.55em;
  line-height: 18px;
}
.y-axis-labels{
    flex-direction: column;
    gap: .8em;
}
.y-axis-labels p{
    position: relative;
}
.y-axis-labels p::after{
  content: '';
  display: block;
  width: 90%;
  height: 1px; 
  background-color:var(--black-5);
  position: absolute;
  bottom: 5px;
  left: 10%; 
}
.x-axis-labels{
    gap: 1em;
    align-items: center;
}
.curve-image{
    position: absolute;
    bottom: 28%;
    width: 80%;
    right: 20px;
}
/* TRAFFIC BY WEBSITE */
.socials, .traffic-by-device, .traffic-by-location,.marketing{
    background-color: var(--Primary-Light);
    margin-top: 1.5em;
    border-radius: 16px;
    padding: 1.5em;
}
.socials h2, .traffic-by-device h2, .traffic-by-location h2,.marketing h2{
color: var(--black-100);
font-size: 0.75em;
font-weight: 600;
line-height: 20px;
}
.socials p{
color: var(--black-100);
font-size: 12px;
font-weight: 400;
line-height: 18px;
}
.socials>div{
    margin-top: .8em;
}
.socials .progress {
  height: 8px;
  background: linear-gradient(90deg, var(--black-10) 70%, transparent 70%);
  border-radius: 4px;
  position: relative;
}

.socials .dark{
    background: linear-gradient(90deg, var(--black-100) 70%, transparent 70%);
}
.traffic-by-device h2, .traffic-by-location h2{
    margin-bottom: 1em;
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.progress-bar {
  width: 10px;
  border-radius: 2px;
  position: absolute;
  transform: translateX(-50%);
}
.linux{
    top: -51px;
    left: 50%;
    background-color: var(--Secondary-Green);
    height: 45px;
}
.mac{
    top: -60px;
    left: 50%;
    background-color: var(--Secondary-Purple);
    height: 55px;
}
.ios{
    top: -51px;
    left: 50%;
    background-color: var(--black-100);
    height: 45px;
}
.windows{
    top: -80px;
    left: 50%;
    background-color: var(--Secondary-BlueB);
    height: 75px;
}
.andriod{
    top: -40px;
    left: 50%;
    background-color: var(--Secondary-PurpleA);
    height: 35px;
}
.others{
    top: -60px;
    left: 50%;
    background-color: var(--Secondary-Green);
    height: 55px;
}

/* PIE CHART */
.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(white 40%, transparent 41%), conic-gradient(var(--black-100) 0% 38.6%, var(--Secondary-Green) 30.8% 70%, var(--Secondary-PurpleA) 8.1% 80%, var(--Primary-Purple) 22.5% 60%);
  margin: 10px;
  display: inline-block;
  border-radius: 50%;
}
.location>p, .percentage p{
    color: var(--black-100, #1C1C1C);
    font-size: 0.75rem;
    line-height: 18px;
    margin-top: 1em;
    position: relative;
}
.location p::before{
    content: '\2022'; /* Unicode character for a bullet point */
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.location p:nth-child(2)::before{
    color: var(--Secondary-Purple);
}
.location p:nth-child(3)::before{
    color: var(--Secondary-Green);
}
.location p:nth-child(4)::before{
    color: var(--Secondary-PurpleA);
}
.right h2{
color: var(--black-100, #1C1C1C);
font-size: .875rem;
font-weight: 600;
line-height: 20px;
}
.right p{
color: var(--black-100, #1C1C1C);
text-overflow: ellipsis;
white-space: nowrap;
font-size: 0.875rem;
line-height: 20px;
}
.right time{
color: var(--black-40, rgba(0, 0, 0, 0.40));
text-overflow: ellipsis;
white-space: nowrap;
font-size: 0.75rem;
line-height: 18px;
}
.right>div{
    margin-top: 1.5em;
}
.notification>div,.activities>div, .contacts>div{
    margin-top: .8em;
}