:root {
  --black-5: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.10);
  --black-20: rgba(0, 0, 0, 0.20);
  --black-40: rgba(0, 0, 0, 0.40);
  --black-80: rgba(0, 0, 0, 0.80);
  --black-100: #1C1C1C;
  --white-5: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.10);
  --white-20: rgba(255, 255, 255, 0.20);
  --white-40: rgba(255, 255, 255, 0.40);
  --white-100: #fff;
  --primary-blue: #E3F5FF;
  --primary-purple: #E5ECF6;
  --primary-light: #F7F9FB;
  --secondary-blue:#A8C5DA;
  --secondary-purple:#C6C7F8;
  --secondary-green:#BAEDBD;
  --secondary-blue2:#B1E3FF;
  --secondary-purple2:#95A4FC;
  --shadow:0px 2px 2px rgba(0,0,0,0.10);
}

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: var(--black-100);
}
a{
    color: var(--black-100);
}
img{
    max-width: 100%;
}
.container{
    width: 95%;
    max-width: 375px;
    margin: 0 auto;
    padding: 1em 1.5em;
}
/* HEADER */
header{
    text-align: center;
}
.logo{
    justify-content: center;
}
.logo p{
    font-size: 0.875rem;
    line-height: 20px;
}
.navbar{
    list-style: none;
}
.navbar li{
    margin-top: 1em;
}
.navbar li a{
    font-size: 0.875rem;
    text-decoration: none;
}
.navbar input{
    width: 60%;
    border-radius: 8px;
    border: none;
    background: var(--black-5);
    padding: 0.25em 1.5em;
    outline: none;

}
.navbar input ::placeholder{
color: var(--black-20);
font-size: 0.875rem;
font-weight: 400;
line-height: 20px;
}
.search-container {
      position: relative;
    }
.search-icon {
      position: absolute;
      top: 50%;
      left: 65px;
      transform: translateY(-50%);
      cursor: pointer;
    }
.active{
    color: var(--black-40);
}
.flex{
    display: flex;
    align-items: center;
    gap: 1em;
}
/* LEFT SECTION STYLING */
.dropdown-menu div:nth-child(1) p{
color: var(--black-40);
}
.dot p{
    margin: .8em;
    position: relative;
}
.dropdown-menu .dot p::before, .dropdown-menu div:nth-child(1) p:last-child{
    color: var(--black-20);
}
.dropdown-menu a, .dropdown-menu p{
font-size: 0.875rem;
line-height: 20px;
text-decoration: none;
}
.dropdown-menu h1{
color: var(--black-40);
font-weight: 400;
font-size: 0.875rem;
line-height: 20px;
margin-bottom: .5em;
}
.dropdown-menu, .dot, .dropdown-content{
    margin-bottom: 1.5em;
}
.dropdown-content a{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: .5em;
}
.dropdown-content a::before{
    content: url('./images/ArrowLineRight2.svg');
    margin-right: .1em;
}
.pages-sub-dropdown{
    width: 60%;
    text-align: center;
    /* margin-left: .6em; */
}
.pages-sub-dropdown a{
    display: block;
    padding: .3em;
    position: relative;
}
.pages-sub-dropdown a:last-child{
    margin-right: .6em;
}
.pages-sub-dropdown a::before{
    content: none;
}

.pages-sub-dropdown a.project {
    margin-left: -1em;
    background-color: var(--black-5);
    border-radius: 8px;
}
.pages-sub-dropdown a.project::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 16px;
    width: 4px;
    border-radius: 3px;
    background-color: var(--black-100);
}
/* CENTER SECTION STYLING */
.center{
    display: grid;
    grid-template-areas:
    'today'
    'subgrid-1'
    'subgrid-2'
    'subgrid-3'
    'subgrid-4'
    'chart'
    'socials'
    'device'
    'location'
    'marketing';
    grid-auto-columns: 1fr;
    gap: 0 1.5em;
  }
  .center h2{
    grid-area: today;
    color: var(--black-100);
    font-size: .875rem;
    font-weight: 600;
    line-height: 20px;
    margin-top: 1.5em;
    display: flex;
  }
  .sub-grid-1{
    grid-area: subgrid-1;
  }
  .sub-grid-2{
    grid-area: subgrid-2;
  }

  .sub-grid-3{
    grid-area: subgrid-3;
  }
.sub-grid-4{
    grid-area: subgrid-4;
  }
  .chart{
    grid-area: chart;
  }
  .socials{
    grid-area: socials;
  }
  .traffic-by-device{
    grid-area: device;
  }
  .traffic-by-location{
    grid-area: location;
  }
  .marketing{
    grid-area: marketing;
  }
.center > h2::after, .logo::after{
    content: url('./images/ArrowLineDown2.svg');
}
.sub-grid{
border-radius: 16px;
margin-top: 1em;
padding: 1.5em;
}
.sub-grid-1, .sub-grid-3{
    background-color: var(--primary-blue);
}
.sub-grid-2, .sub-grid-4{
    background-color: var(--primary-purple);
}
.sub-grid h4 , .sub-grid h2{
font-weight: 600;
line-height: 20px;
}
.sub-grid h4{
font-size: 0.875rem;
}
.sub-grid h2{
    font-size: 1.5rem;
}
.justify{
    justify-content: space-between;
}
.no-gap{
    gap: .2em;
    align-self: flex-end;
}
.top{
    margin-top: -1em;
}
/* CHART STYLING */
.chart, .curve-image{
position: relative;
}
.chart-headings{
font-size: 0.55rem;
line-height: 20px;
margin-bottom: .5em;
}
.chart-headings:first-of-type p:first-child{
    font-weight: 600;
}
.chart-headings:first-of-type p:not(:first-child){
    color: var(--black-40);
}
.dot2 p, .y-axis-labels p{
    position: relative;
}
.dot2 p:not(:last-child):before{
    content: '\2022';
    display: inline-block;
    position: absolute;
    left: -8px;
    top: 25%;
    transform: translateY(-50%);
}
.dot2 p:nth-child(2)::before{
    color: var(--secondary-blue);
}
.y-axis-labels,.x-axis-labels{
    display: flex;
}
.y-axis-labels p,.x-axis-labels p{
  color: var(--black-40);
  font-size: 0.55rem;
  line-height: 18px;
}
.y-axis-labels{
    flex-direction: column;
    gap: .8em;
}
.y-axis-labels p::after{
  content: '';
  display: block;
  width: 90%;
  height: 1px; 
  background-color:var(--black-5);
  position: absolute;
  bottom: 5px;
  left: 10%; 
}
.x-axis-labels{
    gap: 1.3em;
    align-items: center;
}
.curve-image img{
    position:absolute;
    width: 90%;
    
}
.curve-image img:first-of-type{
    left: 30px;
    top: 50px;
}
.curve-image img:last-of-type{
    left: 20px;
    top: 55px;
}
.chart-note{
    color:var(--white-100);
    text-align: center;
    font-size: .4rem;
    background-color: var(--black-100);
    padding: 4px 6px;
    border-radius: 4px;
    position: absolute;
    top:45%;
    right:75px;
}
.chart-dot{
    border: 3px solid var(--white-100);
    background-color: var(--secondary-blue);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top:64px;
    right: 80px;
    z-index: 1;
}
/* TRAFFIC BY WEBSITE */
.chart,
.socials, 
.traffic-by-device, 
.traffic-by-location,
.marketing{
    background-color: var(--primary-light);
    margin-top: 1.5em;
    border-radius: 16px;
    padding: 1.5em;
}

.socials h2, 
.traffic-by-device h2, 
.traffic-by-location h2,
.marketing h2,
.right h2{
font-size: 0.875rem;
font-weight: 600;
line-height: 20px;
margin-bottom: 1em;
}
.socials p, .sub-grid p{
font-size: 0.75rem;
line-height: 18px;
}
.socials>div{
    margin-top: 1em;
}
.socials .bar {
  height: 8px;
  border-radius: 0 16px 16px 0;
  background-color: var(--black-10);
  position: relative;
}
.socials .bar::before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 14px;
  background-color: var(--black-10);
}
.socials .dark{
    background-color: var(--black-100);
}
.socials .dark::before{
    background-color: var(--black-100);
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.progress-bar {
  width: 10px;
  border-radius: 2px;
  position: absolute;
  transform: translateX(-50%);
}
.linux{
    top: -51px;
    left: 50%;
    background-color: var(--secondary-green);
    height: 45px;
}
.mac{
    top: -60px;
    left: 50%;
    background-color: var(--secondary-purple);
    height: 55px;
}
.ios{
    top: -51px;
    left: 50%;
    background-color: var(--black-100);
    height: 45px;
}
.windows{
    top: -80px;
    left: 50%;
    background-color: var(--secondary-blue2);
    height: 75px;
}
.andriod{
    top: -34px;
    left: 50%;
    background-color: var(--secondary-purple2);
    height: 28px;
}
.others{
    top: -60px;
    left: 50%;
    background-color: var(--secondary-green);
    height: 55px;
}
.traffic-by-location .no-gap{
    gap: 0;
}
.location>p, .percentage p{
    font-size: 0.75rem;
    line-height: 18px;
    margin-top: 1em;
    position: relative;
}
.location p::before, .dot p::before{
    content: '\2022';
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 40%;
    transform: translateY(-50%);
}
.location p:nth-child(2)::before{
    color: var(--secondary-purple);
}
.location p:nth-child(3)::before{
    color: var(--secondary-green);
}
.location p:nth-child(4)::before{
    color: var(--secondary-purple2);
}
/* RIGHT SECTION STYLING */
.right p{
text-overflow: ellipsis;
white-space: nowrap;
font-size: 0.875rem;
line-height: 20px;
}
.right time{
color: var(--black-40);
text-overflow: ellipsis;
white-space: nowrap;
font-size: 0.75rem;
line-height: 18px;
}
.right>div{
    margin-top: 1.5em;
}
.notification>div,.activities>div, .contacts>div{
    margin-top: .8em;
}
.notification img{
    border-radius: 8px;
    background-color: var(--primary-blue);
}
.hidden, .lg{
    display: none;
}
/* DARK MODE */
body.dark-mode{
    background-color: var(--black-100);
    color: #fff;
}
.dark-mode .active,
.dark-mode .search-container input::placeholder,
.dark-mode .dropdown-menu:nth-child(2) p,
.dark-mode .left h1,
.dark-mode .dot p::before,
.dark-mode .y-axis-labels p, .dark-mode .x-axis-labels p,
.dark-mode .chart-headings:first-of-type p:not(:first-child),
.dark-mode .right time
{
    color: var(--white-40);
}
.dark-mode .navbar a, 
.dark-mode .left a,
.dark-mode .center h2{
    color: #fff;
}
.dark-mode .search-container input,
.dark-mode .pages-sub-dropdown a:nth-child(2),
.dark-mode .bar,
.dark-mode .bar::before{
    background-color: var(--white-10);
}
.dark-mode .dropdown-menu div:nth-child(1) p:last-child{
    color: var(--white-20);
}
.dark-mode .dropdown-content img, 
.dark-mode .navbar img,
.dark-mode .dropdown-content >a::before,
.dark-mode .center h2::after,
.dark-mode .curve-image img,
.dark-mode .left img:not(:first-child), .dark-mode .left .snow, .dark-mode .logo::after{
    filter: invert(1);
}
.dark-mode .chart,
.dark-mode .socials, 
.dark-mode .traffic-by-device, 
.dark-mode .traffic-by-location,
.dark-mode .marketing,
.dark-mode .y-axis-labels p::after{
    background-color: var(--white-5);
}
.dark-mode .chart-note{
    background-color: var(--black-80);
}
.dark-mode .sub-grid, 
.dark-mode .sub-grid h2{
    color: var(--black-100);
}
.dark-mode .linux, .dark-mode .dark, .dark-mode .dark::before{
    background-color: var(--secondary-purple2);
}
.dark-mode .mac{
    background-color: var(--secondary-green);
}
.dark-mode .ios,
.dark-mode .pages-sub-dropdown a.project::before{
    background-color: var(--secondary-purple);
}
.dark-mode .location p:nth-child(1)::before{
    color: var(--secondary-green);
}
.dark-mode .location p:nth-child(2)::before{
    color: var(--secondary-purple2);
}
.dark-mode .location p:nth-child(3)::before,
.dark-mode .dot2 p:nth-child(1)::before{

    color: var(--secondary-purple);
}
.dark-mode .location p:nth-child(4)::before{
    color: var(--secondary-blue2);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .container {
    max-width: 768px; 
  }
  .lg{
    display: none;
  }
  header .logo{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }
  header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar{
    display: flex;
    align-items: center;
    gap: 1.5em;
  }
  header .navbar input{
    width: 100%;
  }
 
  .search-icon{
    left: 20%;
  }
  .pages-sub-dropdown{
    width: 33%;
  }
  .center{
    grid-template-areas:
    'today     today'
    'subgrid-1 subgrid-2'
    'subgrid-3 subgrid-4'
    'chart     chart'
    'socials   socials'
    'device    device'
    'location  location'
    'marketing marketing';
  }
.y-axis-labels p, .x-axis-labels p{
    font-size: 0.55rem;
  }
.chart-headings{
    font-size: 0.65rem;
    gap: 1.8em;
}
.chart-container{
    margin-top: 1em;
}
.chart-container .y-axis-labels{
    gap: 1.5em;
}
.chart-container .x-axis-labels{
    gap: 4em;
}
.dot2 p:not(:last-child):before{
    top: 40%;
}
.chart-dot{
    right: 168px;
    top: 80px;
}
.chart-note{
    right: 150px;
    top: 35%;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 8px;
}
.curve-image{
    left: 20px;
    bottom: 0;
}
.traffic-by-device .x-axis-labels{
    gap: 3em;
}

}

/* Laptop/Desktop view */
@media only screen and (min-width: 1024px) {
  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    .sm{
    display: none;
  }
  .lg{
    display: block;
  }
    .container {
    max-width: 1200px;
    padding: 0;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black-10);
    padding: 1em;
  }
  .navbar{
    display: flex;
    align-items: center;
    gap: 1.5em;
  }
  .navbar input{
    width: 100%;
  }
  .search-icon{
    left: 1%;
  }
  .left{
    flex: 1;
    border-right: 1px solid var(--black-10);
    padding: 2em;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }
  .pages-sub-dropdown{
    width: 100%;
    margin-left: 1.2em;
}
  
  .left .snow{
    margin: 15em 0 0;
  }
  .center{
    flex: 2;
    padding:.5em 2em;
    grid-template-areas:
    'today     today     today     today'
    'subgrid-1 subgrid-2 subgrid-3 subgrid-4'
    'chart     chart     chart     socials'
    'device    device    location  location'
    'marketing marketing marketing marketing';
  }
  .y-axis-labels p, .x-axis-labels p{
    font-size: 0.75rem;
  }
.chart-headings{
    font-size: 0.875rem;
    gap: 1.8em;
}
.chart-container{
    margin-top: 1em;
}
.chart-container .y-axis-labels{
    gap: 1.5em;
}
.chart-container .x-axis-labels{
    gap: 4em;
}
.dot2 p:not(:last-child):before{
    top: 38%;
}
.chart-dot{
    right: 240px;
    top: 92px;
}
.chart-note{
    right: 200px;
    top: 35%;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 8px;
}
.curve-image{
    left: 20px;
    bottom: 15px;
}
.traffic-by-device .y-axis-labels{
    gap: 1em;
}
.traffic-by-device .x-axis-labels{
    gap: 2em;
}
.right{
    flex: 1;
    padding:.5em 2em;
    border-left: 1px solid var(--black-10);
}
/* DARK MODE */
.dark-mode .nav{
    border-bottom: 1px solid var(--white-10);
}
.dark-mode .left{
    border-right: 1px solid var(--white-10);
}
.dark-mode .right{
    border-left: 1px solid var(--white-10);
}
}